<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HomePage testing">
    <test verbose="2" preserve-order="true" name="/Users/richodwiafaldy/Documents/Bootcamp-enginner/secondProject">
        <classes>
            <class name="org.example.tests.makemytripTest">
                <methods>
                    <include name="pickDestinationAndReturn"></include>
                    <include name="filterRefund"></include>
                    <include name="changeReturnAndDate"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>